<!DOCTYPE html>
<html ng-app="Mymodel">
<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no">
    <title>移动端项目</title>
    <link rel="stylesheet" href="/public/css/bootstrap.css"/>
    <link rel="stylesheet" href="/public/css/index.css"/>
</head>
<body ng-controller="Mycontroller">
    <div class="well">
        <span class="text-success">欢迎光临</span>
        <span class="text-info">模拟发型设计屋</span>
        <div class="clearfix"></div>
    </div>
    <div ui-view="">

    </div>
    <script src="/public/js/jquery-3.2.1.js"></script>
    <script src="/public/js/bootstrap.js"></script>
    <script src="/public/js/angular.js"></script>
    <script src="/public/js/angular-ui-router.js"></script>
    <script src="/public/js/angular-cookies.js"></script>
    <script src="/public/js/app.js"></script>
    <script src="/public/js/controller.js"></script>
    <script src="/public/js/router.js"></script>
    <script src="/public/js/index.js"></script>
</body>
</html>